/** @format */

body {
    background-color: #212121;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
}

.talk {
    position: relative;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

    background-color: #7caed7;
    color: black;

    transition: background-color 0.3s;
}

.talk:hover,
.talk:focus {
    background-color: #668dad;
}

.talk > * {
    position: relative;
}

.talk span {
    display: block;
    padding: 12px 24px;
}

.talk:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, 0.3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.talk:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.content {
    color: white;
    text-transform: uppercase;
}
